In [1]:
#Trataiento de datos.
import pandas as pd
pd.set_option('display.max_columns', None)
#--------------

#Exploración de archivos
import sys
sys.path.append('../')
#--------------

#Funciones personalizadas
from src import sp_union as su
#--------------

In [2]:
#Importación de archivo csv.
bank_additional = pd.read_csv("../data/bank-additional.csv")

su.union_archivos(bank_additional)

,Unnamed: 0,age,job,marital,education,default,housing,loan,contact,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,date,latitude,longitude,id_
1905,2002,59.0,management,MARRIED,university.degree,0.0,0.0,0.0,telephone,460,5,999,0,NONEXISTENT,1.1,"93,994","-36,4","4,857",5191,yes,9-febrero-2019,31.880,-78.759,ab25c4cd-9dc7-4a33-8c5a-3d08449fe24e
13088,13185,31.0,technician,MARRIED,professional.course,0.0,1.0,0.0,cellular,225,2,999,0,NONEXISTENT,1.4,"93,918","-42,7","4,962","5228,1",no,23-mayo-2015,27.242,-120.190,811ca092-f5d4-4a28-804a-c413cb088edb
35372,35516,36.0,services,SINGLE,high.school,0.0,0.0,0.0,cellular,288,1,999,0,NONEXISTENT,-1.8,"92,893","-46,2","1,244","5099,1",no,29-octubre-2019,45.513,-71.470,4f782570-e000-4728-a006-672981b8be30
32864,33008,37.0,housemaid,DIVORCED,basic.9y,NaN,1.0,0.0,telephone,226,2,999,0,NONEXISTENT,-1.8,"92,893","-46,2","1,299","5099,1",no,30-julio-2016,28.147,-117.692,a6f06d80-14a3-4378-9a37-bd32de35ad73
14247,14344,50.0,blue-collar,MARRIED,basic.4y,0.0,0.0,0.0,cellular,244,3,999,0,NONEXISTENT,1.4,"93,918","-42,7","4,962","5228,1",no,17-febrero-2015,48.538,-109.887,58383811-22d4-4cc5-8731-1b125605f939

-----------------
DIMENSIONES
Nuestro conjunto de datos presenta un total de 43000 filas y 24 columnas

In [3]:
#Importación de todas las hojas de archivo excel.
customer_detail_lectura = pd.read_excel("../data/customer-details.xlsx", sheet_name=None)

#Unión de hojas de excel en un dataframe.
customer_detail = pd.concat(customer_detail_lectura.values(), ignore_index=True)

su.union_archivos(customer_detail)

,Unnamed: 0,Income,Kidhome,Teenhome,Dt_Customer,NumWebVisitsMonth,ID
15054,15054,101804,0,1,2012-07-01,10,7a555808-bb33-41ed-932a-db770cb956f6
28067,7952,23322,1,1,2013-09-08,20,b0ea777b-521a-4d52-93bb-a06107d85376
30138,1058,90324,2,2,2014-05-06,26,2ee23f1b-0fd5-4bf4-b9c5-ed1e17290752
18634,18634,126397,2,2,2012-07-30,4,503241a6-52de-47fe-a89e-f5788c30de40
11447,11447,179362,0,2,2012-03-17,18,13c4f806-52a5-48f2-8246-5e2445ac4b28

-----------------
DIMENSIONES
Nuestro conjunto de datos presenta un total de 43170 filas y 7 columnas

In [5]:
#Unión de ambas tablas por las columnas comunes "id_" y "ID".
data_raw = customer_detail.merge(bank_additional, left_on="ID", right_on="id_", how="inner")

su.union_archivos(data_raw)

,Unnamed: 0_x,Income,Kidhome,Teenhome,Dt_Customer,NumWebVisitsMonth,ID,Unnamed: 0_y,age,job,marital,education,default,housing,loan,contact,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,date,latitude,longitude,id_
18334,18431,123671,2,1,2012-12-03,24,6da90f43-5c72-4bca-a821-8eb81dceba6a,18431,42.0,technician,MARRIED,university.degree,0.0,0.0,1.0,cellular,65,2,999,0,NONEXISTENT,1.4,"93,918","-42,7","4,968","5228,1",no,5-agosto-2019,28.309,-85.793,6da90f43-5c72-4bca-a821-8eb81dceba6a
19420,19517,65844,0,1,2012-07-18,18,da819678-5649-41bc-9711-a46f769d5a6b,19517,33.0,admin.,MARRIED,university.degree,0.0,0.0,0.0,cellular,148,1,999,0,NONEXISTENT,1.4,"93,444","-36,1","4,968","5228,1",no,20-febrero-2018,37.956,-122.812,da819678-5649-41bc-9711-a46f769d5a6b
7559,7656,143547,1,1,2012-07-21,21,7152586b-84e6-4b87-85a2-57f406c23b39,7656,40.0,admin.,SINGLE,university.degree,0.0,1.0,0.0,telephone,28,3,999,0,NONEXISTENT,1.1,"93,994","-36,4",NaN,5191,no,15-agosto-2015,30.506,-83.132,7152586b-84e6-4b87-85a2-57f406c23b39
40934,12021,18233,0,1,2014-08-22,28,bf980ba7-8ebc-4042-98e6-7ecf337fc802,41101,63.0,retired,MARRIED,basic.4y,0.0,1.0,0.0,cellular,413,1,3,2,SUCCESS,-1.1,"94,767","-50,8",NaN,"4963,6",yes,1-febrero-2019,34.675,-106.978,bf980ba7-8ebc-4042-98e6-7ecf337fc802
42780,13867,101839,0,0,2014-06-19,12,bc74153e-e825-4bc1-bae7-b6cee0881aae,21920,36.0,blue-collar,SINGLE,high.school,0.0,0.0,0.0,cellular,211,2,999,0,NONEXISTENT,1.4,"93,444","-36,1","4,964","5228,1",no,5-junio-2019,41.195,-121.523,bc74153e-e825-4bc1-bae7-b6cee0881aae

-----------------
DIMENSIONES
Nuestro conjunto de datos presenta un total de 43000 filas y 31 columnas

In [6]:
#Borrado de íncides de ambas tablas y columna "ID" sobrante.
data_raw.drop(columns=["Unnamed: 0_x", "Unnamed: 0_y","ID"], inplace=True)
data_raw.sample(5)

,Income,Kidhome,Teenhome,Dt_Customer,NumWebVisitsMonth,age,job,marital,education,default,housing,loan,contact,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,date,latitude,longitude,id_
32725,118693,2,1,2014-01-29,28,30.0,blue-collar,MARRIED,basic.4y,0.0,0.0,1.0,cellular,255,1,999,0,NONEXISTENT,-1.8,"92,893","-46,2","1,299","5099,1",no,11-septiembre-2016,32.095,-68.382,1494e022-d810-42f7-b7be-0b2d8615766e
28469,180078,0,2,2013-05-23,21,30.0,admin.,MARRIED,university.degree,0.0,0.0,0.0,cellular,520,3,999,1,FAILURE,-1.8,"93,075","-47,1","1,415","5099,1",no,25-noviembre-2017,46.950,-101.915,37c5101f-8689-472f-a4a0-b2a2fb6b2684
210,109051,2,2,2012-02-09,29,42.0,technician,MARRIED,university.degree,0.0,0.0,0.0,telephone,64,2,999,0,NONEXISTENT,1.1,"93,994","-36,4","4,857",5191,no,8-abril-2015,25.081,-73.805,894bcb01-9726-4a75-a39c-eed9dd1bfa33
14877,118001,1,0,2012-08-17,24,49.0,blue-collar,DIVORCED,basic.6y,NaN,1.0,0.0,cellular,128,3,999,0,NONEXISTENT,1.4,"93,918","-42,7","4,958","5228,1",no,31-agosto-2019,25.466,-115.805,8a88b3bd-b521-4f8e-8221-c1817a6b40ed
17359,38669,2,1,2012-03-16,26,40.0,admin.,DIVORCED,high.school,0.0,0.0,0.0,cellular,837,2,999,0,NONEXISTENT,1.4,"93,918","-42,7",NaN,"5228,1",yes,18-noviembre-2017,33.685,-115.526,f1b31300-e700-4e53-9f1d-c3d494ba6553

Al integrar ambos conjuntos de datos mediante un INNER JOIN utilizando el identificador único del cliente, se obtuvieron 43.000 registros. Los 170 clientes restantes presentes únicamente en el archivo de características demográficas no fueron incluidos en el análisis, ya que no participaron en la campaña de marketing y, por lo tanto, no disponían de información sobre el resultado de la oferta (y).

In [7]:
#Exportación de dataframe
data_raw.to_csv('../data/data_raw.csv', index=False)