In [1]:
#Tratamiento de datos
import pandas as pd
pd.set_option('display.max_columns', None)
#--------------

#Exploración de archivos
import sys
sys.path.append('../')
#--------------

#Funciones personalizadas
from src import sp_eda as se
#--------------

In [2]:
df = pd.read_csv('../data/data_raw.csv')

In [6]:
se.eda_preliminar(df)

,Income,Kidhome,Teenhome,Dt_Customer,NumWebVisitsMonth,age,job,marital,education,default,housing,loan,contact,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,date,latitude,longitude,id_
9201,60878,1,2,2012-05-22,13,55.0,unemployed,MARRIED,basic.4y,NaN,1.0,1.0,telephone,95,2,999,0,NONEXISTENT,1.4,"94,465","-41,8","4,967","5228,1",no,9-febrero-2015,29.020,-67.591,c67b6465-3b62-41fa-b248-0bd32e7aa55a
17194,148927,1,2,2012-01-31,1,46.0,student,SINGLE,NaN,0.0,1.0,0.0,telephone,279,4,999,0,NONEXISTENT,1.4,"93,918","-42,7","4,962","5228,1",yes,27-marzo-2016,37.298,-100.997,65c0c554-063a-4032-b10b-5fbfb1d8bf04
26800,165733,2,1,2013-10-01,24,49.0,management,DIVORCED,basic.6y,0.0,0.0,0.0,telephone,88,6,999,0,NONEXISTENT,-0.1,"93,2",-42,NaN,"5195,8",no,1-enero-2017,25.716,-89.060,8cdd77e8-25fd-472b-8284-1dac121deb2d
40551,130618,2,0,2014-07-14,5,NaN,retired,MARRIED,NaN,NaN,1.0,1.0,cellular,211,1,7,4,SUCCESS,-1.1,"94,199","-37,5","0,877","4963,6",yes,6-diciembre-2018,42.907,-111.780,b11c28ac-fee1-4ca4-a5a1-bd5f3332e058
22273,47706,1,0,2013-01-31,20,31.0,technician,SINGLE,professional.course,NaN,0.0,0.0,telephone,331,14,999,0,NONEXISTENT,1.4,"93,444","-36,1","4,963","5228,1",no,12-marzo-2017,45.513,-104.956,7136eb86-cdc6-412e-8b7d-ae339bc9a913

-----------------
DIMENSIONES
Nuestro conjunto de datos presenta un total de 43000 filas y 28 columnas.
-----------------
INFO
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43000 entries, 0 to 42999
Data columns (total 28 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Income             43000 non-null  int64
 1   Kidhome            43000 non-null  int64
 2   Teenhome           43000 non-null  int64
 3   Dt_Customer        43000 non-null  object
 4   NumWebVisitsMonth  43000 non-null  int64
 5   age                37880 non-null  float64
 6   job                42655 non-null  object
 7   marital            42915 non-null  object
 8   education          41193 non-null  object
 9   default            34019 non-null  float64
 10  housing            41974 non-null  float64
 11  loan               41974 non-null  float64
 12  contact            43000 non-null  object
 13  duration           43000 non-null  int64
 14  campaign           43000 non-null  int64
 15  pdays              43000 non-null  int64
 16  previous           43000 non-null  int64
 17  poutcome           43000 non-null  object
 18  emp.var.rate       43000 non-null  float64
 19  cons.price.idx     42529 non-null  object
 20  cons.conf.idx      43000 non-null  object
 21  euribor3m          33744 non-null  object
 22  nr.employed        43000 non-null  object
 23  y                  43000 non-null  object
 24  date               42752 non-null  object
 25  latitude           43000 non-null  float64
 26  longitude          43000 non-null  float64
 27  id_                43000 non-null  object
dtypes: float64(7), int64(8), object(13)
memory usage: 9.2+ MB

None

-----------------
NULOS

Income                0.000000
Kidhome               0.000000
Teenhome              0.000000
Dt_Customer           0.000000
NumWebVisitsMonth     0.000000
age                  11.906977
job                   0.802326
marital               0.197674
education             4.202326
default              20.886047
housing               2.386047
loan                  2.386047
contact               0.000000
duration              0.000000
campaign              0.000000
pdays                 0.000000
previous              0.000000
poutcome              0.000000
emp.var.rate          0.000000
cons.price.idx        1.095349
cons.conf.idx         0.000000
euribor3m            21.525581
nr.employed           0.000000
y                     0.000000
date                  0.576744
latitude              0.000000
longitude             0.000000
id_                   0.000000
dtype: float64

-----------------
DUPLICADOS
Tenemos un total de 0 duplicados.
-----------------
FRECUENCIA CATEGÓRICAS
DT_CUSTOMER
Dt_Customer
2012-08-10    79
2012-01-11    79
2012-12-28    75
2012-08-13    72
2012-12-21    72
              ..
2013-09-09    15
2013-09-03    15
2013-02-26    15
2013-10-18    13
2013-10-24    12
Name: count, Length: 1096, dtype: int64
-------
JOB
job
admin.           10873
blue-collar       9654
technician        7026
services          4162
management        3050
retired           1790
entrepreneur      1522
self-employed     1489
housemaid         1123
unemployed        1063
student            903
Name: count, dtype: int64
-------
MARITAL
marital
MARRIED     25999
SINGLE      12105
DIVORCED     4811
Name: count, dtype: int64
-------
EDUCATION
education
university.degree      12722
high.school             9925
basic.9y                6309
professional.course     5477
basic.4y                4356
basic.6y                2386
illiterate                18
Name: count, dtype: int64
-------
CONTACT
contact
cellular     27396
telephone    15604
Name: count, dtype: int64
-------
POUTCOME
poutcome
NONEXISTENT    37103
FAILURE         4461
SUCCESS         1436
Name: count, dtype: int64
-------
CONS.PRICE.IDX
cons.price.idx
93,994    7938
93,918    6937
92,893    5985
93,444    5349
94,465    4522
93,2      3731
93,075    2552
92,201     803
92,963     742
92,431     471
92,649     375
94,215     320
94,199     316
92,843     298
92,379     274
93,369     271
94,027     242
94,055     236
93,876     224
94,601     212
92,469     184
92,713     179
93,749     179
94,767     130
93,798      48
92,756      11
Name: count, dtype: int64
-------
CONS.CONF.IDX
cons.conf.idx
-36,4    8020
-42,7    7004
-46,2    6057
-36,1    5408
-41,8    4568
-42      3782
-47,1    2581
-31,4     815
-40,8     748
-26,9     477
-30,1     379
-40,3     328
-37,5     318
-50       299
-29,8     277
-34,8     275
-38,3     245
-39,8     239
-40       225
-49,5     214
-33,6     185
-34,6     183
-33       181
-50,8     133
-40,4      48
-45,9      11
Name: count, dtype: int64
-------
EURIBOR3M
euribor3m
4,857    2287
4,962    2124
4,963    2019
4,961    1594
4,964     964
         ...
5,045       1
4,921       1
0,895       1
0,956       1
0,953       1
Name: count, Length: 309, dtype: int64
-------
NR.EMPLOYED
nr.employed
5228,1    16980
5099,1     8937
5191       8020
5195,8     3830
5076,2     1748
5017,5     1133
4991,6      812
5008,7      683
4963,6      665
5023,5      181
5176,3       11
Name: count, dtype: int64
-------
Y
y
no     38156
yes     4844
Name: count, dtype: int64
-------
DATE
date
28-febrero-2018      95
28-febrero-2016      94
28-febrero-2015      92
28-febrero-2017      89
28-febrero-2019      85
                     ..
17-diciembre-2018    11
21-diciembre-2019    10
14-abril-2015        10
4-abril-2017         10
20-noviembre-2015    10
Name: count, Length: 1825, dtype: int64
-------
ID_
id_
089b39d8-e4d0-461b-87d4-814d71e0e079    1
e9d37224-cb6f-4942-98d7-46672963d097    1
3f9f49b5-e410-4948-bf6e-f9244f04918b    1
9991fafb-4447-451a-8be2-b0df6098d13e    1
eca60b76-70b6-4077-80ba-bc52e8ebb0eb    1
                                       ..
4eed05de-2a98-4227-b488-32122009b638    1
0f0aca88-4088-4fe2-905f-44fb675d9493    1
cadadd4b-7ee5-4019-b13a-ca01bb67ca5b    1
5f432048-d515-4bb5-9c94-62db451f88d4    1
993bbbd6-4dbc-4a40-a408-f91f8462bee6    1
Name: count, Length: 43000, dtype: int64
-------
-----------------
ESTADÍSTICOS NUMÉRICAS

,count,mean,std,min,25%,50%,75%,max
Income,43000.0,93241.200070,50498.316182,5841.000,49610.00000,93050.5000,136744.50000,180802.000
Kidhome,43000.0,1.004791,0.815913,0.000,0.00000,1.0000,2.00000,2.000
Teenhome,43000.0,0.998605,0.815983,0.000,0.00000,1.0000,2.00000,2.000
NumWebVisitsMonth,43000.0,16.589698,9.239205,1.000,9.00000,17.0000,25.00000,32.000
age,37880.0,39.977112,10.437957,17.000,32.00000,38.0000,47.00000,98.000
default,34019.0,0.000088,0.009390,0.000,0.00000,0.0000,0.00000,1.000
housing,41974.0,0.535998,0.498708,0.000,0.00000,1.0000,1.00000,1.000
loan,41974.0,0.155620,0.362499,0.000,0.00000,0.0000,0.00000,1.000
duration,43000.0,257.739279,258.666033,0.000,102.00000,179.0000,319.00000,4918.000
campaign,43000.0,2.567233,2.772294,1.000,1.00000,2.0000,3.00000,56.000
pdays,43000.0,962.330953,187.260394,0.000,999.00000,999.0000,999.00000,999.000
previous,43000.0,0.174023,0.497366,0.000,0.00000,0.0000,0.00000,7.000
emp.var.rate,43000.0,0.077128,1.573898,-3.400,-1.80000,1.1000,1.40000,1.400
latitude,43000.0,36.856697,7.225948,24.396,30.61475,36.7610,43.11325,49.384
longitude,43000.0,-95.939067,16.752282,-124.997,-110.49425,-95.8995,-81.42775,-66.937