In [ ]:
#Tratamiento de datos
import pandas as pd
pd.set_option('display.max_columns', None)
#--------------

#Exploración de archivos
import sys
sys.path.append('../')
#--------------

#Funciones personalizadas
from src import sp_limpieza as sl
#--------------

In [2]:
df_raw = pd.read_csv('../data/data_raw.csv')
df_raw.sample(5)

,Income,Kidhome,Teenhome,Dt_Customer,NumWebVisitsMonth,age,job,marital,education,default,housing,loan,contact,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,date,latitude,longitude,id_
24903,170646,2,2,2013-07-16,12,NaN,management,SINGLE,high.school,0.0,0.0,1.0,cellular,322,1,999,0,NONEXISTENT,-0.1,"93,2",-42,NaN,"5195,8",no,1-junio-2019,35.391,-80.029,0aa99de0-697f-4db1-bac9-1bbfceec2b73
5751,147735,0,1,2012-12-30,22,36.0,admin.,MARRIED,university.degree,0.0,1.0,0.0,telephone,138,2,999,0,NONEXISTENT,1.1,"93,994","-36,4",NaN,5191,no,17-febrero-2019,42.804,-109.317,67955973-0e49-4a18-babf-d759b9fe9ef9
10775,28259,2,0,2012-11-01,27,46.0,blue-collar,MARRIED,basic.4y,NaN,0.0,0.0,telephone,67,1,999,0,NONEXISTENT,1.4,"94,465","-41,8","4,962","5228,1",no,15-enero-2019,36.155,-106.530,183b4674-fe21-403f-969e-4a351bf456e1
7154,147265,1,2,2012-09-18,30,NaN,blue-collar,MARRIED,basic.6y,0.0,1.0,0.0,telephone,39,22,999,0,NONEXISTENT,1.1,"93,994","-36,4","4,86",5191,no,4-octubre-2018,30.160,-113.800,ef6b7dc6-d065-4e4c-bb2a-4b53e4915835
22492,62657,0,2,2013-07-20,1,42.0,admin.,SINGLE,university.degree,0.0,0.0,0.0,cellular,361,2,999,0,NONEXISTENT,1.4,"93,444","-36,1","4,964","5228,1",no,24-octubre-2018,32.953,-68.206,59d5aba4-4302-4de2-8884-d5d6bcaffd53

In [3]:
df = df_raw.copy()

Cambio de nombres de columnas.

In [4]:
#Columnas a minúsculas
df.columns = df.columns.str.lower()
#Cambio nombre columna 'numwebvisitsmonth'
df.columns = df.columns.str.replace('numwebvisitsmonth', 'num_web_visits_month')

dt_customer a date.

In [5]:
df['dt_customer'] = pd.to_datetime(df['dt_customer'], format = '%Y-%m-%d')

Cambio de todos los valores a minus.

In [6]:
sl.minus(df)

Crear columna de binario a str. Se utiliza para 'default', 'housing' y 'loan'.

In [7]:
sl.binario_a_str(df,'default')
sl.binario_a_str(df,'housing')
sl.binario_a_str(df,'loan')

Cambio de ',' por '.' y conversión a float.

In [8]:
#Se aplica a 'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed'
sl.comas(df)

Cambio de columna 'date' a formato fecha.

In [9]:
meses = {
    'enero': 'january',
    'febrero': 'february',
    'marzo': 'march',
    'abril': 'april',
    'mayo': 'may',
    'junio': 'june',
    'julio': 'july',
    'agosto': 'august',
    'septiembre': 'september',
    'octubre': 'october',
    'noviembre': 'november',
    'diciembre': 'december'
}

df['date'] = df['date'].replace(meses, regex=True)
df['date'] = pd.to_datetime(df['date'], format = '%d-%B-%Y')

Creación de columnas 'contact_month' y 'contact_year' que aparecian en el enunciado.

In [10]:
df['contact_month'] = df['date'].dt.month
df['contact_year']  = df['date'].dt.year

Exportación de archivo data_limpios.

In [ ]:
#df.to_csv('../data/data_limpios.csv', index=False)